.card
{
    border: none;
    display: grid;
    grid-template-columns: 100% auto;
    text-align: center;
}
.hr-nav
{
    border: 0;
    height: 30px;
    border-style: solid;
    /* border-color: #8B0000; */
    border-width: 6px 0 0 0;
    color: #8B0000;
    background: transparent;
}

.garis
{
    border-left: 3px solid;
    height: 85px !important;
    width: 0;
    margin-top: -100px !important;
    margin-left: 550px;
    color: #8B0000;
    background: transparent;
}

.box
{
    width: 50px;
    height: 50px;
    background: #bb1d33;
    border-radius: 15px;
    position: relative;
    left: 42%;
}

.bi, .bi-plus-circle
{
    /* margin-bottom: 50px; */
    margin-left: 55px;
    position: relative;
    top: -70px;
    color: black;
}

.rectangle
{
    position: absolute;
    width: 996px;
    height: 73px;
    left: 185px;
    top: 300px;
    background: rgba(187, 29, 51, 0.1);
    border-radius: 26px;
}

tr, th
{
    border: none !important;
    text-align: center;
    font-size: 14px;
    width: 10%;
}

.btn-modal
{
    width: 370px;
}

.icon
{
    position: absolute;
    top: 42%;
    margin-left: 200px;
}

.karir
{
    display: grid;
    grid-template-columns: 55% auto;
    text-align: center;
    margin-left: 150px;
}
.footer
{
    margin-top: 100px;
}
